@media all and (min-width:320px) and (max-width:720px) and (min-device-width:320px) and (max-device-width:720px) {
    body {
        width: 100%;
        max-width: 100%;
    }
    .header {
        width: 100%;
    }
    
}
@media all and (min-width:721px) and (max-width:1279px) and (min-device-width:721px) and (max-device-width:1279px) {
    
    body {
        width: 100%;
        max-width: 100%;
    }
    .header {
        width: 100%;
    }
}

@media all and (min-width:1281px) and (max-width:1600px) and (min-device-width:1281px) and (max-device-width:1600px) {
    body {
        width: 100%;
        max-width: 100%;
    }
    .header {
        width: 100%;
    }
}

@media all and (min-width:1601px) and (max-width:2560px) and (min-device-width:1601px) and (max-device-width:2560px) {
    body {
        width: 100%;
        max-width: 100%;
    }
    .header {
        width: 100%;
    }
}

