body {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    min-width: 320px;
    max-width: 1920px;
}
.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}
div {
    box-sizing: border-box;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
header {
    height: 124px;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
}
header img {
    margin-top: 45px;
    
}
header.default {
    position: fixed;
    top: 0;
    background-color: transparent;
    box-shadow: 0 0 20px #303030;
}

.logo {
    float: left;
}
.menu1 {
    float: right;
}

.menu {
    padding: 0;
    margin: 0;
    display: block;
    list-style: none;
}
.menu li {
    display: inline-block;
    margin-left: 45px;
    padding-top: 52px;
    font-size: 20px;
    position: relative;
}

.menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 1px black;
}
.menu a:hover {
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 0;

}

.menu a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: rgb(0, 0, 0);

    position: absolute;
    top: 80px;
    width: 0%;

    transition: all ease-in-out 250ms;

}
.menu a:hover::before {
    width: 100%;
}

#banner {
    height: 759.73px;
}
.banner .container {
    padding-top: 124px;
    height: 700px;
    width: 1140px;
}
.parallax-window {
    height: 550px;
}

.banner h1 {
    font-size: 90px;
    color: white;
    text-shadow: 0 0 20px #303030;
    text-align: center;
    font-weight: 900;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: 1.1em;
    padding-top: 165px;
}

#art1 {
    height: 357.24px;
}
.art1 img {
    float: right;
    padding-top: 57px;
}
.art1 h1 {
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 57px;
}
.art1 h3 {
    font-weight: bold;
    font-size: 25px;
    margin-top: 24px;
    margin-left: -200px;
    float: right;
}
.art1 p {
    width: 370px;
    padding-top: 25px;
}
.a-text {
    color: #777;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    
}
.a-text:hover {
    color: black;
}


#art2 {
    height: 645.63px;
}


.art2 h2 {
    text-transform: uppercase;
    font-size: 40px;
    float: right;
    z-index: 5;
}
.art2 h1 {
    text-transform: uppercase;
    position: relative;
    font-size: 60px;
    float: right;
    z-index: 4;
}
.art2 h3 {
    font-weight: bold;
    font-size: 25px;
    padding-top: 25px;
}
.art2 p {
    float: left;
    width: 495px;
    margin-top: 48px;
    margin-left: 600px;
    line-height: 2em;
    z-index: 3;
    position: absolute;
}

.art2 a {
    margin-left: 600px;
    margin-top: 377px;
    position: absolute;
}
.art2-text {
    display: flex;
    flex-direction: column;
    text-align: right;
}

#img3  {
    position: absolute;
    z-index: 2;
    margin-top: 59px;
}
#back1 {
    position: absolute;
    margin-left: 60px;
    margin-top: 137px;
    z-index: 1;
}
#art3 {
    height: 464px;
}
.art3 {
    height: 464px;
}
.art3 h1 {
    text-transform: uppercase;
    font-size: 79px;
    font-weight: 900;
    float: left;
    z-index: 4;
    margin-top: -220px;
    letter-spacing: 10px;
}
.art3 h3 {
    font-weight: bold;
    font-size: 25px;
    margin-top: -225px;
    float: right;
}
#back2 {
    float: left;
    margin-left: 88px;
}
.art3 img {
    float: right;
    margin-top: -192px;
}

#news {
    height: 347.92px;
}
.news h1 {
    font-size: 50px;
    margin-top: -180px;
    text-align: center;
    color: white;
    text-shadow: 0 0 20px #303030;
}
.sign {
    position: absolute;
    
}
.butt {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    width: 133px;
    height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
    text-align: center;
    line-height: 29px;
    background: white;
    position: relative;
    margin-top: 20px;
    z-index: 1;
    overflow: hidden;
}
.butt::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(226, 226, 226);
    top: 0;
    left: -100%;
    opacity: .5;
    transition: 250ms;
    z-index: -1;
}
#img_news {
    z-index: -2;
    position: relative;
}

.butt:hover::before {
    left: 0;
}

.news img {
    padding-top: 30px;
}
#info {
    height: 245.91px;
}

.menu2 {
    text-align: center;
}

.menu22 {
    padding: 0;
    margin: 0;
    display: inline-block;
    list-style: none;
}
.menu22 li {
    display: inline-block;
    padding-top: 40px;
    margin: 0 30px;
    font-size: 20px;
    position: relative;
}

.menu22 a {
    color: #777;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.menu22 a:hover {
    color: black;

}

.menu22 a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #000;

    position: absolute;
    top: 70px;
    width: 0%;

    transition: all ease-in-out 250ms;

}
.menu22 a:hover::before {
    width: 100%;
}
.info p {
    text-align: center;
    width: 850px;
    margin: 0 auto;
    line-height: 2em;
    margin-top: 45px;
}

#categories {
    height: 571.97px;
}
.categories {
    padding-top: 47px;
}
.categ {
    display: inline-block;
}
.categ  h1 {
    font-size: 79px;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: 0 0 20px #303030;
    text-align: center;
    margin-top: -79%;
    letter-spacing: 8px;

}
.categ:last-child {
    float: right;
}
.categ:nth-child(2) {
    padding-left: 30px;
}
#art4 {
    height: 724px;
}

.art4 h2 {
    text-transform: uppercase;
    font-size: 40px;
    float: right;
    z-index: 5;
}
.art4 h1 {
    text-transform: uppercase;
    position: relative;
    font-size: 60px;
    float: right;
    z-index: 4;
}
.art4 h3 {
    font-weight: bold;
    font-size: 25px;
    padding-top: 25px;
}
.art4 p {
    float: left;
    width: 510px;
    margin-top: 56px;
    margin-left: 600px;
    line-height: 2em;
    z-index: 3;
    position: absolute;
}

.art4 a {
    margin-left: 600px;
    padding-top: 525px;
    position: absolute;
    z-index: 5;
    
}
.art4-text {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-top: 52px;
}
#img9  {
    position: absolute;
    z-index: 2;
    margin-top: 61px;
}
#back3 {
    position: absolute;
    margin-left: 67px;
    margin-top: 137px;
    height: 436px;
    z-index: 1;
}

footer {
    height: 383px;
}
.menu3 {
    text-align: center;
}

.menu33 {
    padding: 0;
    margin: 0;
    display: inline-block;
    list-style: none;
}
.menu33 li {
    display: inline-block;
    padding-top: 40px;
    margin: 0 30px;
    font-size: 20px;
    position: relative;
}

.menu33 a {
    color: #777;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.menu33 a:hover {
    color: black;

}
.menu33 a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #000;

    position: absolute;
    top: 70px;
    width: 0%;

    transition: all ease-in-out 250ms;

}
.menu33 a:hover::before {
    width: 100%;
}
footer p {
    text-align: center;
    width: 945px;
    margin: 0 auto;
    line-height: 2em;
    margin-top: 45px;
}
.soc {
    display: flex;
    width: 290px;
    margin: 0 auto;
    
}
.soc a {
    margin: 0 10px;
    margin-top: 60px;
}

.btn_up {
    position: fixed;
    bottom: 430px;
    right: -60px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgb(231, 231, 231);
    background: rgb(209, 209, 209);
    z-index: 100;
    outline: 0!important;
    transition: .4s;
}
.btn_up:hover {
    background: #808080;
}

.btn_up:after {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 2px solid rgb(255, 255, 255);
    border-left: 2px solid rgb(255, 255, 255);
    transform: rotate(45deg);
    position: absolute;
    top: 4px; bottom: 0;
    left: 0; right: 0;
    margin: auto;
}
.btn_up.active {
    right: 5px;
}

.achor-text {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-transform: uppercase;
    color: #000;
    margin-left: -45px;
    margin-top: -60px;

}
.achor-text a {
    color: #000;
    text-decoration: none;
    font-weight: 100;
    font-size: 20px;
}
.achor-text img {
    transform: rotate(180deg);
    padding-top: 9px;
}